*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/release
/captures
.externalNativeBuild
.cxx
/app/secrets.properties
local.properties
/Console Screenshots/behavior_screen.png
/Console Screenshots/clear_all_dialogue.png
/Console Screenshots/evidence_screen.png
/Console Screenshots/results_screen.png
app/google-services.json
app/secrets.properties